.body-container {
    padding-left: 10px;
    padding-right: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.actions-container {
    display: flex;
    gap: 10px;
}

.actions-container a {
    cursor: pointer;
}